<!doctype html>
<html lang="pt-br" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Mecanica Diesel</title>
    <link rel="stylesheet" href="/css/style-home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-home">
        <div th:replace="~{fragments/componentes :: sidebar}"></div>

        <main class="conteudo-principal">
            <h1>Trocas de Óleo - Há 1 ano</h1>
            <p class="text-muted">Lista de serviços realizados exatamente no dia de hoje, um ano atrás.</p>
            
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Veículo (Placa)</th>
                        <th>Data do Serviço</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody id="tabelaHomeBody">
                    </tbody>
            </table>
        </main>
    </div>

    <script src="/js/scriptHome.js"></script>
</body>
</html>